<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">

        <title>Block Model</title>
    </head>
    <style>
      div {
        background-color: cyan;
        padding: 15px;
        border: 5px solid black;
      }
      span{
        background-color: yellow;
        padding: 15px;
        border: 5px solid black;
      }
    </style>
    <body>
    <div>I am a div. </div>
    <span>I am a span. </span>
          </body>
</html>
